
bootstrap4
crispy-bootstrap5
dash
dash-bootstrap-components
dash-core-components
dash-cytoscape
dash-html-components
dash-mantine-components
dash-table
dash-trich-components
Django==3.2.16
django-allauth
django-autoslug
django-bootstrap4
django-countries
django-coverage-plugin
django-crispy-forms
django-debug-toolbar
django-environ
django-extensions
django-model-utils
django-pandas
django-redis
django-stubs
django-test-plus
django-werkzeug-debugger-runserver
django-heroku
django_plotly_dash
djangorestframework
dpd-static-support
gunicorn
plotly
psycopg2-binary
pillow
pytz
whitenoise

